
body {
font-family: verdana, arial, sans-serif;
}

h1 {
color:rgba(129, 5, 5, 0.92);
font-family: georgia, serif;
}


div.everything {
padding:30px 50px;
margin:10px auto;
  width:75%;
  border:1px solid black;
  background-color: rgb(230, 231, 232);
}

img{
display:block;
width:80%;
margin:10px auto;

}

.contents ul{
display: inline-block;
list-style: none;

}

.video-box {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 60px;
  padding-right: 20px;
	height: 0;
	overflow: hidden;
	margin-bottom: 12px;
}

.video-box iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 600px) {

  img {
  width:40%;
  float:right;
}

div.everything {
margin: 10px auto;
width:70%;
max-width:850px;
padding:20px;
overflow: auto;
}

ul {


}

}
